# Additional configuration for tests

# These default values are used in every section if not overridden

[DEFAULT]

# The URL of the zimbra soap service
url=None

# The user account to be logged in using preauth or password auth
account=None

# The password of the user
password=None

# The preauth key of the domain the account is member of
preauthkey=None

# What is in "account"? A name, an ID, a ForeignPrincipal?
account_by=name

# The URL of the zimbra admin-soap service
admin_url=None

# The admin account to be logged in
admin_account=None

# The password of the admin account
admin_password=None

# What is in admin "account"? A name, an ID, a ForeignPrincipal?
admin_account_by=name

# Testing user authentication using preauth key

[auth_test]

# When does the token expire?
expires=0

# When is the token generated?
timestamp=None

# Is the auth testing enabled? Set this to true if you have configured the
# other values!
enabled=False

# Testing user authentication using password

[auth_by_password_test]

# Is the auth testing enabled? Set this to true if you have configured the
# other values!
enabled=False

# Testing admin authentication (using password)

[admin_auth_test]

# Is the auth testing enabled? Set this to true if you have configured the
# other values!
enabled=False

# Testing creating and removing an account

[admin_request_test]

# What account can be created and removed for testing purposes?
test_account=None

# The password of that account
test_password=None

# Is the auth testing enabled? Set this to true if you have configured the
# other values!
enabled=False

# Testing a fault

[fault_test]

# Non-existent folder
folder=None

# Is the test enabled?
enabled=False

# Testing automatic response generation

[autoresponse_test]

# Is the test enabled?
enabled=False

# Testing convenience methods

[genrequest_test]

# Is the test enabled?
enabled=False